@media (prefers-color-scheme: dark){
    body {
        color: #EEEEEE;
        background: #000
    }
    a:link, a:visited {
        color: #9cf
    }
    a:hover {
        color: #EEEEEE;
    }
}

@media (prefers-color-scheme: light){
    body {
        color: black;
        background:#EEEEEE
    }
    a:link, a:visited {
        color: #063a6e;
    }
    a:hover {
        color: black;
    }
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1;

    font-family: monospace;
    font-size: 16px;
    font-style: normal;

    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    word-wrap: break-word;
}

p {
    line-height: 1.5;
}

ul {
    font-style: normal;
    list-style-position: inside;
    line-height: 2em;
    font-size: 16px;
    padding-left: 1em;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

body > header nav ul {
    list-style: none;
    padding: 0;
    margin: 10pt 0 7pt 0;
}
body > header nav li {
    display: inline-block;
    margin-right: 2pt;
}

/* Footer */

footer {
    border-top: 1px solid grey;
    padding: 0.5em 0px;
    font-size: 14px;
    line-height: 1;
}
